# IDE folder ignores
/.idea/
/.vscode/

# Common build folder ignores
/build/

# CMake specific ignores
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Godot 4+ specific ignores
.godot/
/android/

# Remove this if you intend to save your addon to git.
# Unrecommened if you do
addons/
